doctype html
html
	head
		meta(charset="utf-8")
		title Nueva Receta
	body
		form(id="nuevaReceta" action="/nuevaReceta" method="post")
			p #{ḿensaje}
				labe(for="nombre") Nombre:
				input(type="text" id="nombre" name="nombre")
			p
				labe(for="descripcion") Descripción:
				input(type="textarea" id="descripcion" name="descripcion")
			p
				labe(for="fecha") Fecha de publicación:
				input(type="date" id="fecha" name="fecha")
			p
				input(type="submit" value="Enviar")
	
			